<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>
<h1>An error occured</h1>
<p>Sorry for inconvenience, we are working on fixing this</p>
<%- include('includes/end.ejs') %>